
* {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-align:initial;
}

/*box modelling*/
* {
    box-sizing: border-box;
}

li {
    padding:5px;
    font-size: 20px;
}

.rem_pad {
    padding:0px
}

body {
    background-image: url("res/background.jpg");
    background-color: #1e1e1e;
    background-repeat:repeat-y;
    background-size:cover;
}

h1 {
    color: rgb(255, 255, 255); 
    font-size: 36px;
    text-align: center;
}

h2 {
    text-align: center;
    padding: 0%
}

p {
    font-size: 20px;
}

.highlight { /*transparency invoked with the 4th value of rgba. this specific class adds highlight to text*/
    background-color: rgba(0, 0, 0, 0.568);
}

.header {
    text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }